canvas {
  margin-right: 10px;
  float: left;
  margin-bottom: 5px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 10px;
}
.button {
  width: 100px;
  height: 50px;
  font-size: 25px;
}
button.start {
  border-color: rgb(250, 206, 19);
  background-color: rgb(250, 206, 19);
}
button.pass {
  border-color: rgb(250, 206, 19);
  background-color: rgb(250, 206, 19);
}

.nick {
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 30px;
  vertical-align: baseline;
  background: linear-gradient(135deg,
    rgba(252,255,244,1) 0%,
    rgba(252,255,244,1) 13%,
    rgba(223,229,215,1) 100%,
    rgba(179,190,173,1) 100%);
}
