div {
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background: rgb(214, 155, 40);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: ridge 5px rgb(122, 76, 193);
  font-size: 30px;

}

ul {
  list-style-type: none;
}
